@page "/add_customer"

@using EpsilonDbContext.Models;

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h2>Add Person</h2>
<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                    <label for="FirstName"> Company Name *</label>
                    <input form="FirstName" class="form-control" @bind="@customer.CompanyName" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="LastName"> Contact Name *</label>
                    <input form="LastName" class="form-control" @bind="@customer.ContactName" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="Email"> Address *</label>
                    <input form="Email" class="form-control" @bind="@customer.Address" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="MobileNo"> City *</label>
                    <input form="mobileNo" class="form-control" @bind="@customer.City" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="MobileNo"> Region *</label>
                    <input form="mobileNo" class="form-control" @bind="@customer.Region" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="MobileNo"> Postal Code *</label>
                    <input form="mobileNo" class="form-control" @bind="@customer.PostalCode" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="MobileNo"> Country *</label>
                    <input form="mobileNo" class="form-control" @bind="@customer.Country" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="MobileNo"> Phone *</label>
                    <input form="mobileNo" class="form-control" @bind="@customer.Phone" />
            </div>
        </div>
</div>
<div class="row mt-3">
        <div class="col-md-4">
                <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
                        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                    </div>
            </div>
</div>
@code {
    Customer customer = new Customer();
    
    protected async Task Save()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7190/api/Customers/create_customer", @customer);

        Customer? customerResponse = await response.Content.ReadFromJsonAsync<Customer>();

        if (customerResponse?.Id > 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
            NavigationManager.NavigateTo("/");
        }

    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    }