@page "/edit_customer"

@implements IDisposable

@using EpsilonDbContext.Models;
@using EpsilonUI.StateContainers;

@inject CustomerStateContainer customerStateContainer
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h2>Edit Person</h2>
<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                    <label for="CompanyName"> Company Name</label>
                    <input form="CompanyName" class="form-control" @bind="@customer.CompanyName" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="ContactName"> Contact Name</label>
                    <input form="ContactName" class="form-control" @bind="@customer.ContactName" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="Address"> Address</label>
                    <input form="Address" class="form-control" @bind="@customer.Address" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="City"> City</label>
                    <input form="City" class="form-control" @bind="@customer.City" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="Region"> Region</label>
                    <input form="Region" class="form-control" @bind="@customer.Region" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="PostalCode"> Postal Code</label>
                    <input form="PostalCode" class="form-control" @bind="@customer.PostalCode" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="Country"> Country</label>
                    <input form="Country" class="form-control" @bind="@customer.Country" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                    <label for="Phone"> Phone</label>
                    <input form="Phone" class="form-control" @bind="@customer.Phone" />
            </div>
        </div>
</div>
<div class="row mt-3">
        <div class="col-md-4">
                <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
                        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                    </div>
            </div>
</div>
@code {
    Customer customer = new Customer();

    protected override void OnInitialized()
    {
        customerStateContainer.OnChange += StateHasChanged;
        customer = customerStateContainer.Property;
    }
    
    protected async Task Save()
    {
        var response = await Http.PutAsJsonAsync("https://localhost:7190/api/Customers/edit_customer", @customer);
        
        Customer? customerResponse = await response.Content.ReadFromJsonAsync<Customer>();

        if (customerResponse?.Id > 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Edited Successfully!");
            NavigationManager.NavigateTo("/");
        }

    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    public void Dispose()
    {
        customerStateContainer.OnChange -= StateHasChanged;
    }

    }