@page "/"

@implements IDisposable;
@using EpsilonDbContext.Models;
@using System.Net.Http.Json;
@using EpsilonUI.StateContainers;

@inject IJSRuntime JsRuntime
@inject CustomerStateContainer customerStateContainer;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Customers</PageTitle>

<h1>Customers Crud Operations</h1>


@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Region</th>
                <th>Postal Code</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.CompanyName</td>
                    <td>@customer.ContactName</td>
                    <td>@customer.Address</td>
                    <td>@customer.City</td>
                    <td>@customer.Region</td>
                    <td>@customer.PostalCode</td>
                    <td>@customer.Country</td>
                    <td>@customer.Phone</td>
                    <td><button class="btn btn-primary" @onclick="() => GotoEditPage(customer.Id)">Edit</button></td>
                    <td><button class="btn btn-primary" @onclick="() => DeleteCustomer(customer)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="row">   
    <div class="col-md-6">
        <button class="btn btn-primary" @onclick="@GotoAddPage">Add New</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary" @onclick="@CustomersNextPage">Next Page</button>
        <button class="btn btn-primary" @onclick="@CustomersPreviousPage">Previous Page</button>
    </div>
</div>



@code {
    private List<Customer>? customers = new List<Customer>();
    private int offset = 0;

    private async Task GetCustomersByOffset(int offset)
    {
        customers = await Http.GetFromJsonAsync<List<Customer>>("https://localhost:7190/api/Customers/get_customers/" + offset);
    }

    protected override async Task OnInitializedAsync()
    {
        customerStateContainer.OnChange += StateHasChanged;
        await GetCustomersByOffset(offset);
    }

    private async Task CustomersNextPage()
    {
        offset += 5;
        if (offset > 10) offset = 10;

        await GetCustomersByOffset(offset);
    }

    private async Task CustomersPreviousPage()
    {
        offset -= 5;
        if (offset < 0) offset = 0;

        await GetCustomersByOffset(offset);
    }

    private void GotoAddPage()
    {
        NavigationManager.NavigateTo("/add_customer");
    }

    private void GotoEditPage(int id)
    {
        //System.Diagnostics.Debug.WriteLine($"customer id is: {id}");
        //JsRuntime.InvokeVoidAsync("alert", $"customer id is: {id}");
        Customer? customer = customers.Find(i => i.Id.Equals(id));
        customerStateContainer.Property = customer;
        NavigationManager.NavigateTo("/edit_customer");
    }

    private async Task DeleteCustomer(Customer customer)
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7190/api/Customers/delete_customer", @customer);

        Customer? customerResponse = await response.Content.ReadFromJsonAsync<Customer>();

        if (customerResponse?.Id > 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
            //NavigationManager.NavigateTo("/");
        }

        //await InvokeAsync(() =>{ StateHasChanged(); });
        NavigationManager.NavigateTo("/",true);

    }

    public void Dispose()
    {
        customerStateContainer.OnChange -= StateHasChanged;
    }

   
}
